*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.3rem;
}

.container{
    
    max-width: 300px;
    height: 300px;
    padding: 2rem;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: aquamarine;
    border-radius: 2rem;
}


.form_label{
    margin-right: 1rem;
}

.form_input{
    padding: 0.2rem;
}

.result_access{
    margin-top: 1rem;
    padding: 1rem;
}

.result_access span{
    display: inline-block;
    background-color: violet;
    border-radius: 2rem;
    padding: 0.2rem 0.4rem;
}